<h1>Listing Agents</h1>

<table class="table table-hover" border="1">
  <thead>
    <tr>
      <th>الاسم</th>
      <th>الحي أو المنطقة</th>
      <th>المجاورة</th>
      <th>الشارع</th>
      <th>العنوان</th>
      <th>النشاط</th>
      <th>مختصر عن النشاط</th>
      <th>أيام العطلة</th>
      <th>24 ساعة</th>
      <th>كلمة بحث</th>
      <th>كلمة بحث</th>
      <th>كلمة بحث</th>
      <th>كلمة بحث</th>
      <th>كلمة بحث</th>
      <th>تليفون</th>
      <th>تليفون</th>
      <th>تليفون</th>
      <th>بريد الكتروني</th>
      <th>بداية العمل</th>
      <th>نهاية العمل</th>
      <th>موقع نت</th>
      <th>موقع نت</th>
      <th>أرغب في الإعلان مستقبلاً</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.name %></td>
        <td><%= agent.region %></td>
        <td><%= agent.neighbour %></td>
        <td><%= agent.street %></td>
        <td><%= agent.address %></td>
        <td><%= agent.activity %></td>
        <td><%= agent.brief_of_activity %></td>
        <td><%= agent.day_off %></td>
        <td><%= agent.twenty_four %></td>
        <td><%= agent.word1 %></td>
        <td><%= agent.word2 %></td>
        <td><%= agent.word3 %></td>
        <td><%= agent.word4 %></td>
        <td><%= agent.word5 %></td>
        <td><%= agent.tel1 %></td>
        <td><%= agent.tel2 %></td>
        <td><%= agent.tel3 %></td>
        <td><%= agent.email %></td>
        <td><%= agent.start %></td>
        <td><%= agent.end %></td>
        <td><%= agent.website1 %></td>
        <td><%= agent.website2 %></td>
        <td><%= agent.can_announce %></td>
        <td><%= link_to 'عرض', agent, :class => "btn btn-info" %></td>
        <td><%= link_to 'تعديل', edit_agent_path(agent), :class => "btn btn-primary" %></td>
        <td>
              <% if agent.ok  %>
            <%= link_to 'تعليق', toggle_agent_path(agent), :class => "btn btn-info" %>
            <% else %>
            <%= link_to 'اقرار', toggle_agent_path(agent), :class => "btn btn-success" %>
            <% end %>
        </td>
            
        <td><%= link_to 'حذف', agent,:class => "btn btn-danger", method: :delete, data: { confirm: 'هل أنت متأكد من رغبتك في الحذف?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_path, :class => "btn btn-success" %>
