<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @agent.region %>
</p>

<p>
  <strong>Neighbour:</strong>
  <%= @agent.neighbour %>
</p>

<p>
  <strong>Street:</strong>
  <%= @agent.street %>
</p>

<p>
  <strong>Address:</strong>
  <%= @agent.address %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @agent.activity %>
</p>

<p>
  <strong>Brief of activity:</strong>
  <%= @agent.brief_of_activity %>
</p>

<p>
  <strong>Day off:</strong>
  <%= @agent.day_off %>
</p>

<p>
  <strong>Twenty four:</strong>
  <%= @agent.twenty_four %>
</p>

<p>
  <strong>Word1:</strong>
  <%= @agent.word1 %>
</p>

<p>
  <strong>Word2:</strong>
  <%= @agent.word2 %>
</p>

<p>
  <strong>Word3:</strong>
  <%= @agent.word3 %>
</p>

<p>
  <strong>Word4:</strong>
  <%= @agent.word4 %>
</p>

<p>
  <strong>Word5:</strong>
  <%= @agent.word5 %>
</p>

<p>
  <strong>Tel1:</strong>
  <%= @agent.tel1 %>
</p>

<p>
  <strong>Tel2:</strong>
  <%= @agent.tel2 %>
</p>

<p>
  <strong>Tel3:</strong>
  <%= @agent.tel3 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agent.email %>
</p>

<p>
  <strong>Start:</strong>
  <%= @agent.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @agent.end %>
</p>

<p>
  <strong>Website1:</strong>
  <%= @agent.website1 %>
</p>

<p>
  <strong>Website2:</strong>
  <%= @agent.website2 %>
</p>

<p>
  <strong>Can announce:</strong>
  <%= @agent.can_announce %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
