<h4>موقع <%= @agent.name %> على الخريطة:<a href="<%= showroute_agent_path(@agent) %>"  class='btn btn-success' style="float:left; color:white;"> رؤية المسار </a> </h4>
<!-- <p>احداثي خط العرص = <%= @agent.latitude %></p>
<p>احداثي خط الطول = <%= @agent.langitude %></p> -->
<div id="map-canvas"  style="width:100%; height:700px"></div>
<%= link_to 'عودة', url_for(:back), :class => "btn btn-primary" , :style => "width:200px;" %>

<script type="text/javascript">
      var name= '<%= @agent.name %>';
      var activity= '<%= @agent.activity %>';
      var brief_of_activity= '<%= @agent.brief_of_activity %>';
      var starting= '<%= (@agent.start).strftime("%I:%M %P") %>';
      var ending = '<%= (@agent.end).strftime("%I:%M %P") %>';
      var tel1='<%= @agent.tel1 %>';
      var tel2='<%= @agent.tel2 %>';
      var tel3='<%= @agent.tel3 %>';
      var region= '<%= @agent.region %>';
      var neighbour= '<%= @agent.neighbour %>';
      var address= '<%= @agent.address %>';
      var street= '<%= @agent.street %>';
      var twenty_four= '<%= @agent.twenty_four ? "يعمل 24 ساعة" : "لا يعمل 24 ساعة "%>';
      var lat=<%= @agent.latitude %>;
      var lang=<%= @agent.langitude %>;

		

      google.maps.event.addDomListener(window, 'load',map_render(name,activity,brief_of_activity,starting,ending,tel1,tel3,tel3,region,neighbour,street,address,twenty_four,lat,lang));

      </script>