
<table style="margin-right:20px; width:90%; margin-top:10px" class="table table-hover table-striped" border="2">
  <thead>
    <th style="text-align:center; width:150px"><strong>الخاصية</strong</th>
    <th style="text-align:center; width:500px"><strong>البيان</strong></th>
    <th style="text-align:center; width:160px"><strong>الخاصية</strong</th>
    <th style="text-align:center; width:auto"><strong>البيان</strong></th>
  </thead>
  <tr>
    <td>
  <strong>اسم النشاط :</strong>
    </td>
    <td><strong>
     <%= @agent.name %>
      </strong>
    </td>
    <td>
  <strong>المنطقة:</strong>
    </td>
    <td>
  <%= @agent.region %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>الخريطة:</strong>
    </td>
    <td  data-no-turbolink >
      <% unless (@agent.latitude.blank? or @agent.langitude.blank?) %>
            <% if current_user.try(:admin?)  %>
                      <%= link_to "الخريطة و المسار", mapandroute_agent_path(@agent), :class => "btn btn-success", :style => "width:100%;" %>
            <% else @agent.ok %>
                      <%= link_to "الخريطة و المسار", mapandroute_agent_path(@agent), :class => "btn btn-success", :style => "width:100%;" %>
                 
            <% end %>
            
      <% else %>
               <strong>هذا النشاط لم يتم تسجيب احداثياتة حتى اﻵن.</strong>

      <% end %>
    </td>
     <% if current_user.try(:admin?)  %>
                  <td><b>احداثيات الموقع :</b></td>
                  <td><b>Latitude</b> :<code style="font-size:16px; color:red;"> <%= @agent.latitude %></code> / <b>Langitude</b> : <code style="font-size:16px; color:red;"><%= @agent.langitude %></code></td>
      <% else %>
                  <td><b>احداثيات الموقع :</b></td>
                  <td><b>يتم رصدها أو مراجعتها فعلياً من قبل إدارة الموقع</b></td>
      <% end %>
    
    </tr>
  <tr>
    <td>
  <strong>المجاورة:</strong>
    </td>
    <td>
  <%= @agent.neighbour %>
    </td>
  
    <td>
  <strong>الشارع:</strong>
    </td>
    <td>
  <%= @agent.street %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>العنوان:</strong>
    </td>
    <td>
  <%= @agent.address %>
    </td>
  
    <td>
  <strong>النشاط:</strong>
    </td>
    <td>
  <%= @agent.activity %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>مختصر عن النشاط:</strong>
    </td>
    <td colspan="3">
  <%= @agent.brief_of_activity %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>أيام العطلة:</strong>
    </td>
    <td>
  <%= (@agent.day_off).drop(1) %>
    </td>
  
    <td>
  <strong>العمل 24 ساعة؟:</strong>
    </td>
    <td>
  <% if @agent.twenty_four %>
    <strong>نعم</strong>
  <% else %>
    <strong>لا</strong>
  <% end %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>كلمة البحث اﻷولى:</strong>
    </td>
    <td>
  <%= @agent.word1 %>
    </td>
  
    <td>
  <strong>تليفون:</strong>
    </td>
    <td>
  <%= @agent.tel1 %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>كلمة البحث الثانية:</strong>
    </td>
    <td>
  <%= @agent.word2 %>
    </td>
  
    <td>
  <strong>تليفون:</strong>
    </td>
    <td>
  <%= @agent.tel2 %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>كلمة البحث الثالثة:</strong>
    </td>
    <td>
  <%= @agent.word3 %>
    </td>
  
    <td>
  <strong>تليفون:</strong>
    </td>
    <td>
  <%= @agent.tel3 %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>كلمة البحث الرابعة:</strong>
    </td>
    <td>
  <%= @agent.word4 %>
    </td>
  
    <td>
  <strong>بريد الكتروني:</strong>
    </td>
    <td>
  <%= @agent.email %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>كلمة البحث الخامسة:</strong>
    </td>
    <td>
  <%= @agent.word5 %>
    </td>
  
    <td>
  <strong>بداية العمل:</strong>
    </td>
    <td>
  <%= (@agent.start).strftime("%I:%M %P") %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>موقع نت:</strong>
    </td>
    <td>
    <%= @agent.website1 %>
    </td>
  
    <td>
  <strong>نهاية العمل:</strong>
    </td>
    <td>
  <%= (@agent.end).strftime("%I:%M %P") %>
    </td>
  </tr>
  <tr>
    <td>
  <strong>موقع نت:</strong>
    </td>
    <td>
  <%= @agent.website2 %>
    </td>
  
    <td>
  <strong>تم التحقق من قبل الموقع:</strong>
    </td>
    <td>
  <% if @agent.can_announce %>
    <!-- <strong>نعم</strong> -->
  <% else %>
    <!-- <strong>لا</strong> -->
  <% end %>
    </td>
  </tr>
</table>
<% if current_user.try(:admin?)  %>
             <%= link_to 'تعديل', edit_agent_path(@agent), :class => "btn btn-info", :style => "margin-right:20px" %> 
            <%= link_to 'عرض الكل', agents_path, :class => "btn btn-primary" %>
    <% elsif (@agent.email==current_user.email) %>
            <%= link_to 'تعديل', edit_agent_path(@agent), :class => "btn btn-info", :style => "margin-right:20px" %> 
            
<% end %>
<%= link_to 'عودة', url_for(:back), :class => "btn btn-primary" %>
