<h1>Listing Agents</h1>

<table class="table table-hover table-striped" border="2">
  <thead>
    <tr>
      <th>الاسم</th>
      <th>الحي أو المنطقة</th>
      <th>المجاورة</th>
      <th>الشارع</th>
      <th>العنوان</th>
      <th>النشاط</th>
      <th>مختصر عن النشاط</th>
      <th>أيام العطلة</th>
      <th>24 ساعة</th>
      <th>كلمة بحث</th>
      <th>كلمة بحث</th>
      <th>كلمة بحث</th>
      <th>كلمة بحث</th>
      <th>كلمة بحث</th>
      <th>تليفون</th>
      <th>تليفون</th>
      <th>تليفون</th>
      <th>بريد الكتروني</th>
      <th>بداية العمل</th>
      <th>نهاية العمل</th>
      <th>موقع نت</th>
      <th>موقع نت</th>
      <th>الإعلان</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= link_to truncate(agent.name, :length => 20), agent %></td>
        <td><%= truncate(agent.region, :length => 20) %></td>
        <td><%= truncate(agent.neighbour, :length => 20) %></td>
        <td><%= truncate(agent.street, :length => 20) %></td>
        <td title='<%= agent.address %>'><%= truncate(agent.address, :length => 20)  %></td>
        <td><%= truncate(agent.activity, :length => 20) %></td>
        <td title='<%= agent.brief_of_activity %>' ><%= truncate(agent.brief_of_activity, :length => 20) %></td>
        <td><%= agent.day_off.drop(1) %></td>
        <td>
          <% if agent.twenty_four %>
          <strong>نعم</strong>
          <% else %>
          <strong>لا</strong>
          <% end %>
        </td>
        <td><%= truncate(agent.word1, :length => 10) %></td>
        <td><%= truncate(agent.word2, :length => 10) %></td>
        <td><%= truncate(agent.word3, :length => 10) %></td>
        <td><%= truncate(agent.word4, :length => 10) %></td>
        <td><%= truncate(agent.word5, :length => 10) %></td>
        <td><%= truncate(agent.tel1, :length => 15) %></td>
        <td><%= truncate(agent.tel2, :length => 15) %></td>
        <td><%= truncate(agent.tel3, :length => 15) %></td>
        <td title='<%= agent.email %>'><%= truncate(agent.email, :length => 20) %></td>
        <td><%= (agent.start).strftime("%I:%M %P") %></td>
        <td><%= (agent.end).strftime("%I:%M %P") %></td>
        <td title='<%= agent.website1 %>'><%= truncate(agent.website1, :length => 20) %></td>
        <td title='<%= agent.website2 %>'><%= truncate(agent.website2, :length => 20) %></td>
        <td>
          <% if agent.can_announce %>
          <strong>نعم</strong>
          <% else %>
          <strong>لا</strong>
          <% end %>
        </td>
        
        <td><%= link_to 'تعديل', edit_agent_path(agent), :class => "btn btn-primary" %></td>
        <td>
              <% if agent.ok  %>
            <%= link_to 'تعليق', toggle_agent_path(agent), :class => "btn btn-info" %>
            <% else %>
            <%= link_to 'اقرار', toggle_agent_path(agent), :class => "btn btn-success" %>
            <% end %>
        </td>
            
        <td><%= link_to 'حذف', agent,:class => "btn btn-danger", method: :delete, data: { confirm: 'هل أنت متأكد من رغبتك في الحذف?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_path, :class => "btn btn-success" %>
